<form action="/admin/movies/{{movie.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Edit Movie</h1>
  </div>
  {{> admin-movie-form}}
</form>